language: generic
sudo: required

services:
    - docker

before_install:
    - docker build -t abc1 -f Dockerfile-build.dev .
    #- docker build -t abc1 .

# script:
#     - docker run abc1 npm run test:unit -- --coverage

deploy:
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN_VUE3  # Set in the settings page of your repository, as a secure variable
    keep_history: true,
    local_dir: dist
    on:
        branch: master